@import url('https://fonts.googleapis.com/css?family=Lato:300|Open+Sans');


.show-image {
    display: flex;
    margin: auto; 
}

.movie-container {
    margin: auto;
    width: 90%;
    height: 100%;
}

.movie-container h1 {
    font-size:40px;
    font-family: 'Lato', sans-serif;
    margin: auto;
    text-align: center;
}

.movie-genre {
    font-size: 50px; 
    font-family: 'Lato', sans-serif;
    margin: auto;
    text-align: center;
}